img {
    width: 40%;
}

.galleri {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 20px;
    padding: 0 100px;
}

.galleri img {
    width: calc(100% / var(--cols));
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}